<% object = @news %>
<%= semantic_form_for [:admin, object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <%= f.input :date, as: :string %>

    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  as: :string,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.title'),
                         language: enabled_locale_name) %>
      <%= f.input "summary_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.summary'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 2, :maxlength => 255  } %>
      <%= f.input "content_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.content'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 2  } %>
      <%= f.input "url_#{enabled_locale}",
                  as: :url,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.news.url'),
                         language: enabled_locale_name) %>
    <% end %>

    <hr />

    <h2><%= t('.media_heading') %></h2>

    <div class="file input optional form-group" id="news_image_input">
      <span class="form-label">
        <label for="news_image" class=" control-label"><%= t('activerecord.attributes.news.image') %></label>
      </span>
      <% if @news.image.exists? %>
        <%= image_tag(@news.image.url('90x50')) %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".jpg,.jpeg,.png" id="news_image" name="news[image]" type="file">
      </span>
    </div>

    <div class="text input optional form-group" id="news_video_embed_input">
      <span class="form-label">
        <label for="news_video_embed" class=" control-label">Embeded Video</label>
      </span>
      <span class="form-wrapper">
        <%= f.text_area(:video_embed, rows: 2, class: 'autogrow form-control') %>
        <span class="help-block"><%= t('.video_help') %></span>
      </span>
      <span class="js-show-video">
        <% if @news.video_embed.present? %>
          <%= @news.video_embed.html_safe %>
        <% end %>
      </span>

    </div>


    <h3><%= t('activerecord.models.news_slideshow', count: 999) %></h3>

    <table class="table table-striped table-hover table-nonfluid table-news-slideshows">
      <thead>
        <tr>
          <th></th>
          <th>
            <%= t('activerecord.attributes.news_slideshow.image') %><abbr title="required">*</abbr>
          </th>
          <th>
            <%=t 'shared.common.actions' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% object.news_slideshows.sorted.each do |slideshow| %>
          <%= f.semantic_fields_for :news_slideshows, slideshow do |slide| %>
            <%= render partial: 'news_slideshow_fields', locals: {f: slide, object: slideshow} %>
          <% end %>
        <% end %>
      <tfoot>
        <tr>
          <td colspan="3">
            <%= link_to_add_association t('shared.actions.add'), f, :news_slideshows,
                  :'data-association-insertion-node' => "table.table-news-slideshows tbody",
                  :'data-association-insertion-method' => 'append',
                  class: 'btn btn-primary' %>
          </td>
        </tr>
      </tfoot>
      </tbody>
    </table>


    <hr />

    <%= f.input :reform_id, as: :radio, collection: @reforms %>

    <%= f.input :is_public, as: :radio %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>

