<%
  page_title @news.title
%>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @news,
          index_path: admin_news_index_path,
          show_path: admin_news_path(@news),
          edit_path: edit_admin_news_path(@news)
                }
  %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%=t 'activerecord.attributes.news.date' %>:</strong></dt>
  <dd><%= l @news.date if @news.date.present? %></dd>
  <dt><strong><%=t 'activerecord.attributes.news.title' %>:</strong></dt>
  <dd><%= @news.title %></dd>
  <dt><strong><%=t 'activerecord.attributes.news.is_public' %>:</strong></dt>
  <dd><%= format_boolean_flag(@news.is_public) %></dd>


  <dt><strong><%=t 'activerecord.attributes.news.summary' %>:</strong></dt>
  <dd><%= simple_format_no_tags(@news.summary) %></dd>
  <dt><strong><%=t 'activerecord.attributes.news.content' %>:</strong></dt>
  <dd><%= simple_format_no_tags(@news.content) %></dd>
  <dt><strong><%=t 'activerecord.attributes.news.url' %>:</strong></dt>
  <dd><%= link_to @news.url, @news.url if @news.url.present? %></dd>
  <dt><strong><%=t 'activerecord.attributes.news.image' %>:</strong></dt>
  <dd><%= image_tag @news.image.url('360x200') if @news.image.exists? %></dd>

  <dt><strong><%=t 'activerecord.attributes.news.reform_id' %>:</strong></dt>
  <dd><%= @news.reform.name if @news.reform_id.present? %></dd>

</dl>
