<%
page_title t('.title')
@do_not_use_default_page_layout = true
%>

<div class='contentSection mod-overlap-top-image'>

  <%= bootstrap_flash %>
  <header class='contentSection-header'>

    <div class='contentSection-header-title'>

      <h1 class='heading'>
        <%= yield(:page_title) %>
      </h1>

    </div>

    <div class='selections'>

      <div class='contentSection-header-controls'>
        <div class='headerControlsRow'>
          <span class='headerControlsRow-item'>

            <label class='labeledSelect-label' for='filter-reform'>
              <%= t('.filter_reform') %>:
            </label>

            <select id='filter-reform' class='js-become-select2 js-filter-news-by-reform'>
              <option value='default' class='default'><%= t('shared.common.all') %></option>

            <% @reforms.each do |reform| %>
              <option value="<%= reform.slug %>"><%= reform.name %></option>
            <% end %>

            </select>

          </span>
        </div>

      </div>

    </div>
  </header>

  <div class='contentSection-body mod-no-padding'>

    <% if @news.present? %>
      <% @news.each do |news| %>

        <section class="newsList-item" data-reform='<%= news.reform.slug %>'>
          <div class="newsList-item-header">
            <div class="newsList-item-header-column">
              <%= link_to(news.title, news_show_path(news), class: 'link heading mod-no-transform') %>
            </div>
            <% if news.date.present? %>
              <div class="newsList-item-header-column">
                <div class="date"><%= I18n.l(news.date) %></div>
              </div>
            <% end %>
          </div>
          <div class="newsList-item-content">
            <% if news.image.exists? %>
              <div class="newsList-item-content-column newsList-item-thumbnail">
                <%= image_tag(news.image.url('poster'), { width: '200px'}) %>
              </div>
            <% end %>
            <% if news.summary.present? %>
              <div class="newsList-item-content-column newsList-item-summary">
                <p><%= simple_format(news.summary) %></p>
              </div>
            <% end %>
          </div>
        </section>

      <% end %>
    <% else %>
      <p class="alert alert-warning">
        <%= t('.no_data') %>
      </p>
    <% end %>

  </div>

</div>
